PORT=
NODE_ENV=
ALLOWED_ORIGINS=
ENCRYPTION_KEY=
ALLOW_COOKIES_DOMAIN=

# JWT
JWT_ACCESS_TOKEN_SECRET=
JWT_REFRESH_TOKEN_SECRET=
JWT_ACCESS_TOKEN_EXPIRES_IN=
JWT_REFRESH_TOKEN_EXPIRES_IN=

# Database - Postgresql
DB_HOST=
DB_PORT=
DB_NAME=
DB_USERNAME=
DB_PASSWORD=

# External Payment
EXTERNAL_PAYMENT_BASE_URL=
EXTERNAL_PAYMENT_CLIENT_ID=
EXTERNAL_PAYMENT_CLIENT_SECRET=
EXTERNAL_PAYMENT_SIGN=
EXTERNAL_PAYMENT_WEBHOOK_IPS=

# Transactions Config
PAYIN_COMMISSION_IN_PERCENTAGE=
PAYOUT_COMMISSION_IN_PERCENTAGE=
PAYIN_GST_IN_PERCENTAGE=
PAYOUT_GST_IN_PERCENTAGE=

# OAuth Google
# OAUTH_GOOGLE_CLIENT_ID=
# OAUTH_GOOGLE_CLIENT_SECRET=
# OAUTH_GOOGLE_FE_REDIRECT_URL=

# OtpLess
# OTPLESS_CLIENT_ID=
# OTPLESS_CLIENT_SECRET=

# 2FA
ISSUER=
SECRET_BITES=

#REDIS
REDIS_HOST_URL=
REDIS_PORT=
