PORT=
NODE_ENV=
ALLOWED_ORIGINS=

# JWT
JWT_ACCESS_TOKEN_SECRET=
JWT_REFRESH_TOKEN_SECRET=
JWT_ACCESS_TOKEN_EXPIRES_IN=
JWT_REFRESH_TOKEN_EXPIRES_IN=

# Database - Postgresql
DB_HOST=
DB_PORT=
DB_NAME=
DB_USERNAME=
DB_PASSWORD=

# OAuth Google
OAUTH_GOOGLE_CLIENT_ID=
OAUTH_GOOGLE_CLIENT_SECRET=
OAUTH_GOOGLE_REDIRECT_URL=
OAUTH_GOOGLE_FE_REDIRECT_URL=

# OtpLess
OTPLESS_CLIENT_ID=
OTPLESS_CLIENT_SECRET=
OTPLESS_REDIRECT_URI=