PORT=
NODE_ENV=
ALLOWED_ORIGINS=

# JWT
JWT_ACCESS_TOKEN_SECRET=
JWT_REFRESH_TOKEN_SECRET=
JWT_ACCESS_TOKEN_EXPIRES_IN=
JWT_REFRESH_TOKEN_EXPIRES_IN=
JWT_PENDING_SIGN_UP_TOKEN_SECRET=
JWT_PENDING_SIGN_UP_TOKEN_EXPIRES_IN=